<!doctype html>
<html class="no-js h-100" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="description" content="A high-quality &amp; ">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Material Design Bootstrap -->
    <link href="/assets/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="assets/datatables.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">



  </head>
  <body class="h-100">



        </div>
        <div  </div>
        <div class="loading-overlay">
          <div class="spinner"></div>
        </div>
      </div>

    </div>
    <div class="container-fluid">
      <div class="row" style="max-height:900px;">
        <!-- Main Sidebar -->
        <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0" style="position:fixed;">
          <div class="main-navbar">
            <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
              <a class="navbar-brand w-100 mr-0" href="#" style="line-height: 25px;">
                <div class="d-table m-auto">
                <%= image_tag("letter-f.svg", :alt => "rss feed", :id => 'arrowdown') %>
                  <span class="d-none d-md-inline ml-1">Fairvalue</span>
                </div>
              </a>
              <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
                <i class="material-icons">&#xE5C4;</i>
              </a>
            </nav>
          </div>
          <form action="#" class="main-sidebar__search w-100 border-right d-sm-flex d-md-none d-lg-none">
            <div class="input-group input-group-seamless ml-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fas fa-search"></i>
                </div>
              </div>
              <input class="navbar-search form-control" type="text" placeholder="Search for something..." aria-label="Search"> </div>
          </form>
          <div class="nav-wrapper">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="index.html">
                  <i class="material-icons">edit</i>
                  <span>Home</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="components-blog-posts.html">
                  <i class="material-icons">vertical_split</i>
                  <span>About</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="add-new-post.html">
                  <i class="material-icons">note_add</i>
                  <span>Github</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="form-components.html">
                  <i class="material-icons">view_module</i>
                  <span>API Download</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="tables.html">
                  <i class="material-icons">table_chart</i>
                  <span>Watch List</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="user-profile-lite.html">
                  <i class="material-icons">person</i>
                  <span>Stock Explanations</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="errors.html">
                  <i class="material-icons">error</i>
                  <span>Contact</span>
                </a>
              </li>
            </ul>
          </div>
        </aside>
        <!-- End Main Sidebar -->
        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
          <div class="main-navbar sticky-top bg-white">
            <!-- Main Navbar -->
            <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0">
              <form action="#" class="main-navbar__search w-100 d-none d-md-flex d-lg-flex">
                <div class="input-group input-group-seamless ml-3">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-search"></i>
                    </div>
                  </div>
                  <input class="navbar-search form-control" type="text" placeholder="" aria-label="Search"> </div>
              </form>
              <ul class="navbar-nav border-left flex-row ">


                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <%= image_tag("letter-f.svg", :alt => "rss feed", :id => 'arrowdown') %>
                    <span class="d-none d-md-inline-block">Sierra Brooks</span>
                  </a>

                </li>
              </ul>
              <nav class="nav">
                <a href="#" class="nav-link nav-link-icon toggle-sidebar d-md-inline d-lg-none text-center border-left" data-toggle="collapse" data-target=".header-navbar" aria-expanded="false" aria-controls="header-navbar">
                  <i class="material-icons">&#xE5D2;</i>
                </a>
              </nav>
            </nav>
          </div>
          <!-- / .main-navbar -->
          <div class="main-content-container container-fluid px-4">
            <!-- Page Header -->
            <div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">

                <h3 id="#1"  class="page-title">Amazon.com INC</h3>
              </div>
            </div>
            <!-- End Page Header -->
            <!-- Small Stats Blocks -->
            <div class="row">
              <div class="col-lg col-md-6 col-sm-6 mb-4">
                <div class="stats-small stats-small--1 card card-small">
                  <div style="background-color: #67A9E5 "class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                      <%= image_tag("dollar.png", :alt => "rss feed", :id => 'dolla') %>
                      <div class="stats-small__data text-center">

                        <span style="color: white;"class="stats-small__label text-uppercase">NASDAQ: <h3 id="#2" style="color: white;"class="stats-small__value count my-3">AMZN</h3> </span>
                        <span style="color: white;"class="stats-small__label text-uppercase">Current Price:</span>
                        <h6 id="#3" style="color: white;"class="stats-small__value count my-3">$2,390</h6>

                      </div>
                      <div class="stats-small__data">

                      </div>
                    </div>
                    <canvas height="120" class="blog-overview-stats-small-1"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-lg col-md-6 col-sm-6 mb-4">
                <div class="stats-small stats-small--1 card card-small">
                  <div style="background-color: #67A9E5 "class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                      <%= image_tag("money.png", :alt => "rss feed", :id => 'two') %>
                      <div class="stats-small__data text-center">
                        <span style="color: white;"class="stats-small__label text-uppercase">Fairvalue Price:
                          <h3 id="#4"style="color: white;"class="stats-small__value count my-3">$1,980</h3> </span>
                        <span style="color: white;"class="stats-small__label text-uppercase">Market Cap:</span>
                        <h6 id="#5" style="color: white;"class="stats-small__value count my-3">$900B</h6>
                      </div>
                      <div class="stats-small__data">

                      </div>
                    </div>
                    <canvas height="120" class="blog-overview-stats-small-2"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-lg col-md-4 col-sm-6 mb-4">
                <div class="stats-small stats-small--1 card card-small">
                  <div style="background-color: #67A9E5"class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                      <%= image_tag("infinity (1).png", :alt => "rss feed", :id => 'inf') %>
                      <div class="stats-small__data text-center">
                        <span style="color: white;"class="stats-small__label text-uppercase">Revenue:
                          <h3 id="#6" style="color: white;"class="stats-small__value count my-3">59.7B</h3> </span>
                        <span  style="color: white;"class="stats-small__label text-uppercase">Gross Profit:</span>
                        <h6 id="#7" style="color: white;"class="stats-small__value count my-3">10.1B</h6>
                      </div>
                      <div class="stats-small__data">

                      </div>
                    </div>
                    <canvas height="120" class="blog-overview-stats-small-3"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-lg col-md-4 col-sm-6 mb-4" >
                <div class="stats-small stats-small--1 card card-small">
                  <div style="background-color: #67A9E5 "class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                        <%= image_tag("money (1).png", :alt => "rss feed", :id => 'two') %>
                      <div class="stats-small__data text-center">
                        <span style="color: white;" class="stats-small__label text-uppercase">Return on Asset:
                          <h3 id="#8" style="color: white;"class="stats-small__value count my-3">.1199</h3> </span>
                        <span style="color: white;"class="stats-small__label text-uppercase">Return on Equity:</span>
                        <h6 id="#9" style="color: white;"class="stats-small__value count my-3">.5269</h6>
                      </div>
                      <div class="stats-small__data">

                      </div>
                    </div>
                    <canvas height="120" class="blog-overview-stats-small-4"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-lg col-md-4 col-sm-12 mb-4">
                <div class="stats-small stats-small--1 card card-small">
                  <div style="background-color: #67A9E5 "class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                      <%= image_tag("wallet (1).png", :alt => "rss feed", :id => 'two') %>
                      <div class="stats-small__data text-center">
                        <span style="color: white;"class="stats-small__label text-uppercase">Earnings Per Share:
                          <h3 id="#10" style="color: white;"class="stats-small__value count my-3">11.789</h3> </span>
                        <span style="color: white;"class="stats-small__label text-uppercase">EBITDA:</span>
                        <h7 id="#11" style="color: white;"class="stats-small__value count my-3">.112</h7>
                      </div>
                      <div class="stats-small__data">

                      </div>
                    </div>
                    <canvas height="120" class="blog-overview-stats-small-5"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Small Stats Blocks -->
            <div class="row">
              <!-- Users Stats -->

              <!-- End Users Stats -->
              <!-- Users By Device Stats -->
              <div style="max-height: 280vh;" class="col-lg-4 col-md-6 col-sm-12 mb-4">

                <div class="card card-small h-100">
                  <div class="table-wrapper-scroll-y my-custom-scrollbar">

                    <table id="dtMaterialDesignExample" class="table table-striped table-hover" cellspacing="0" width="100%">
                      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Stock Symbol</th>
          <th scope="col">Stock Name</th>
          <th scope="col">Stock Price</th>
          <th scope="col">Market Cap</th>
        </tr>
        </thead>
      <tbody id="myTable">
        <tr id="test1">
          <th id="row" scope="row">1</th>
          <td id="symb"></td>
          <td id="name"></td>
          <td id="stock">$</td>
          <td id="mcap">%</td>
        </tr>
      </tbody>
                    </table>

</div>



                  <div class="card-footer border-top">
                    <div class="row">
                      <div class="col">

                      </div>
                      <div class="col text-right view-report">
                        <a href="#"><%= @price.compsymb %> &rarr;</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-8 col-md-12 col-sm-12 mb-4" id="graphdiv">
                <div style="max-height:400vh;"class="card card-small" id="userdiv">
                  <div class="card-header border-bottom">
                    <h6 class="m-0"><h6 id="#graphcomp">AMZN</h6> Stock Chart</h6>
                  </div>
                  <div id="cardbody" class="card-body pt-0" >
                    <div id="insert"></div>

                    <canvas id="userdiv" height="1" style="max-width: 100% !important;" class="blog-overview-users"></canvas>
                  </div>
                </div>
              </div>

          </div>

          <div></div>
          <footer class="main-footer d-flex p-2 px-3 bg-white border-top">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Source Code</a>
              </li>

            </ul>
            <span class="copyright ml-auto my-auto mr-2">Copyright © 2019
              <a >Made by Zayn</a>
            </span>
          </footer>
        </main>
      </div>
    </div>

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="/assets/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/assets/popper.min.js?body=1"></script>
    <!-- MDBootstrap Datatables  -->
  <script type="text/javascript" src="/assets/datatables.min.js?body=1"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/assets/bootstrap.min.js?body=1"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/assets/mdb.min.js?body=1"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.0.2/papaparse.js"></script>





    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="/assets/home.js?body=1"></script>


  </body>
</html>
